# Results Service Database
RESULTS_DB_NAME=ualspeed_results
RESULTS_POSTGRES_DB=ualspeed_results

# Data Service Database
DDB_NAME=ualspeed_data
DDB_POSTGRES_DB=ualspeed_data
#Global service data
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
# Service URLs
RESULTS_SERVICE=http://results-service:5002
DATA_SERVICE=http://data-service:5004